@font-face {
  font-family: "Impact", sans-serif;
  src: url(../fonts/impact.woff2);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  color: #040404;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.big-container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1220px;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 920px;
}

.header {
  padding-top: 25px;
  position: absolute;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #d8d4ca 0%, rgba(217, 217, 217, 0) 100%);
}

.nav {
  display: flex;
  justify-content: space-between;
}

.menu-list {
  display: flex;
  gap: 0 40px;
  padding-top: 25px;
}

.menu-left {
  padding-left: 25px;
}

.menu-right {
  padding-right: 80px;
}

.menu-link {
  color: #363636;
  font-size: 15px;
}

.promo {
  background-image: url(../images/promo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.promo__inner {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.title {
  font-family: "Impact", sans-serif;
  font-weight: 400;
  font-size: 76px;
  letter-spacing: 1.52px;
  margin-bottom: 10px;
  align-self: center;
  margin-left: 7px;
}
.subtitle {
  font-family: "Impact", sans-serif;
  font-size: 48px;
  font-weight: 400;
  border-bottom: 1px solid #040404;
  margin-bottom: 10px;
  align-self: center;
}

.subtitle span {
  display: block;
  color: #9f6b08;
  text-align: center;
  font-size: 34px;
  font-weight: 400;
  line-height: 34px;
  padding: 10px 0;
}

.promo__text {
  color: var(--Dark-grey, #363636);
  font-size: 16px;
  margin-bottom: 10px;
}

.promo__arrow {
  margin-top: auto;
  margin-bottom: 30px;
  align-self: center;
}

.info {
  margin-bottom: 100px;
}

.info__part {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}

.info__part--first {
  display: block;
}

.info__part--third {
  padding-top: 66px;
}

.info__title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 30px;
}

.info__part-textbox {
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
  margin-bottom: 30px;
}

.info__text {
  flex-basis: 440px;
  margin-bottom: 30px;
}

.info__part-img {
  object-fit: cover;
}

.info__content {
  flex-basis: 415px;
}

.info__part--second .info__text {
  max-width: 352px;
}

.info__part--third .info__text {
  max-width: 377px;
}

.info__table {
  flex-basis: 450px;
  border-bottom: 1px solid #040404;
  position: relative;
  top: 20px;
}

.info__table::before {
  content: "";
  border-top: 1px solid #040404;
  position: absolute;
  width: 100%;
  top: -20px;
}

.info__table td {
  padding-bottom: 20px;
}
